In [2]:
import pandas as pd
import boto3

def read_csv_from_s3(bucket_name: str, file_path: str) -> pd.DataFrame:
    s3 = boto3.client('s3')
    obj = s3.get_object(Bucket=bucket_name, Key=file_path)
    df = pd.read_csv(obj['Body'])
    return df

bucket_name = "danneftw-dscrap-bucket"
file_path = "processed/station_bikes/2023-08-09-2023-11-02/StationaryStations.csv"
df = read_csv_from_s3(bucket_name, file_path)

In [19]:
df

,AvailableBikes,StationId,Distance,stationId,IsOpen,timestamp,BikeIds,LastUpdate,Long,Lat,...,Hour,Minute,Temperature,Humidity,Windspeed,Precipitation,Visibility,Snowfall,TotalAvailableBikes,IsWeekend
0,1,270950259,1567,Norra Allégatan,True,2023-09-11 10:10:09.361000+00:00,['710976'],/Date(1694427009437+0200)/,11.953708,57.700368,...,10,10,27.5,45,2.1,0.0,24140.0,0.0,1,0
1,1,270950259,1567,Norra Allégatan,True,2023-09-11 10:20:09.277000+00:00,['710976'],/Date(1694427609379+0200)/,11.953708,57.700368,...,10,20,27.5,45,2.1,0.0,24140.0,0.0,1,0
2,1,270950259,1567,Norra Allégatan,True,2023-09-11 10:30:09.159000+00:00,['710976'],/Date(1694428209242+0200)/,11.953708,57.700368,...,10,30,27.5,45,2.1,0.0,24140.0,0.0,1,0
3,1,270950259,1567,Norra Allégatan,True,2023-09-11 10:40:09.365000+00:00,['710976'],/Date(1694428809480+0200)/,11.953708,57.700368,...,10,40,27.5,45,2.1,0.0,24140.0,0.0,1,0
4,1,270950259,1567,Norra Allégatan,True,2023-09-11 10:50:09.586000+00:00,['710976'],/Date(1694429409702+0200)/,11.953708,57.700368,...,10,50,27.5,45,2.1,0.0,24140.0,0.0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1726664,4,30921953,1173,Engelbrektsgatan,True,2023-11-02 03:50:09.148000+00:00,"['711999', '710881', '710280', '710121']",/Date(1698897009227+0100)/,11.976702,57.698429,...,3,50,9.8,83,8.2,0.0,24140.0,0.0,4,0
1726665,4,30921953,1173,Engelbrektsgatan,True,2023-11-02 04:00:09.331000+00:00,"['711999', '710881', '710280', '710121']",/Date(1698897609433+0100)/,11.976702,57.698429,...,4,0,9.1,86,8.2,0.0,24140.0,0.0,4,0
1726666,4,30921953,1173,Engelbrektsgatan,True,2023-11-02 04:10:09.351000+00:00,"['711999', '710881', '710280', '710121']",/Date(1698898209421+0100)/,11.976702,57.698429,...,4,10,9.1,86,8.2,0.0,24140.0,0.0,4,0
1726667,4,30921953,1173,Engelbrektsgatan,True,2023-11-02 04:20:09.432000+00:00,"['711999', '710881', '710280', '710121']",/Date(1698898809533+0100)/,11.976702,57.698429,...,4,20,9.1,86,8.2,0.0,24140.0,0.0,4,0
1726668,4,30921953,1173,Engelbrektsgatan,True,2023-11-02 04:30:09.334000+00:00,"['711999', '710881', '710280', '710121']",/Date(1698899409443+0100)/,11.976702,57.698429,...,4,30,9.1,86,8.2,0.0,24140.0,0.0,4,0

In [22]:
# Convert the timestamp column to datetime
df['timestamp'] = pd.to_datetime(df['timestamp'])

# Extract the date from the timestamp
df['date'] = df['timestamp'].dt.date

# Filter the data
filtered_data = df[(df['date'] >= pd.to_datetime('2023-08-23').date()) & (df['date'] <= pd.to_datetime('2023-08-28').date())]

# Calculate the average visibility
average_visibility = filtered_data['Visibility'].mean()

print(average_visibility)

23088.765088207983

In [24]:
#df['Visibility'].isnull()

# find first and last date for visibility when it is a null value

df['Visibility'].unique()

array([24140., 21980., 18200., 15400., 17100.,  6860., 23060., 18260.,
        7040.,  5740., 14480., 16800., 10500.,  4280., 12120.,  9620.,
        9100., 17640., 18500., 15660., 22840., 17060., 21940., 19740.,
       17540., 17140., 16740., 16340., 18940., 21540., 22780., 21400.,
       20040., 23980., 23840., 23680., 23140., 22140., 21140., 20980.,
       20800., 20640., 17320., 14020., 10700., 12060., 13400., 14760.,
       17880., 21020., 23420., 22700.,    nan, 12940., 14180., 14240.,
       17760.,  9940., 18420.,  7360., 22280., 19080., 17480., 12380.,
       21000., 23380.,  4300., 11400., 14200., 22720., 18660., 11980.,
       19620., 18900., 19100.,  9900., 23800., 18340., 16700., 21840.,
        7260., 14000., 13180.,  6960., 21960., 15960.,  5200., 22440.,
       15880., 16900., 15080., 18740., 15360., 13360.,  9920., 19820.,
        9220., 21620., 16760., 11300., 24040., 23640., 18880., 13140.,
       11960., 20620., 13560., 20260., 14560., 20100., 11280., 23240.,
       22860., 16680., 15440., 13900., 23440., 21720., 11240., 16160.,
        4620., 22260., 23120., 18840.,  6840.,  6940., 10920., 10720.,
       19340., 23560., 15420., 21580., 20500., 22380., 22580., 20960.,
       23180., 21480., 22180., 22020., 22420., 15140.,  8900., 20180.,
       12480., 13100., 23820., 20120., 15040., 22680.])

In [42]:
df['Visibility'] = df['Visibility'].fillna(23180) # checked average visibility for the week before the missing data

COLUMNS_TO_KEEP = [
    "IsOpen",
    "Long",
    "Lat",
    "Year",
    "Month",
    "Day",
    "Hour",
    'Minute',
    "Temperature",
    "Humidity",
    "Windspeed",
    "Precipitation",
    "Visibility",
    "Snowfall",
    "IsWeekend",
    "TotalAvailableBikes",
]

df = dataframe[COLUMNS_TO_KEEP]

X = df.drop("TotalAvailableBikes", axis=1)
y = df["TotalAvailableBikes"]

0.9800410309200892

In [11]:
df_mossen = df[df['stationId'] == "Medicinareberget"]

print(df_mossen["TotalAvailableBikes"].min())
print(df_mossen["TotalAvailableBikes"].max())
print(df_mossen["TotalAvailableBikes"].mean())
print(df_mossen["Long"].unique())
print(df_mossen["Lat"].unique())

0
20
5.848499754058042
[11.958232]
[57.686915]

In [28]:
import pandas as pd
import requests
from datetime import datetime


class PredictorHandler:
    def __init__(
        self,
        IsOpen,
        Long,
        Lat,
        Year,
        Month,
        Day,
        Hour,
        Minute,
        Temperature,
        Humidity,
        Windspeed,
        Precipitation,
        Visibility,
        Snowfall,
        IsWeekend,
    ):
        self.IsOpen = IsOpen
        self.Long = Long
        self.Lat = Lat
        self.Year = Year
        self.Month = Month
        self.Day = Day
        self.Hour = Hour
        self.Minute = Minute

        self.Temperature = Temperature
        self.Humidity = Humidity
        self.Windspeed = Windspeed
        self.Precipitation = Precipitation
        self.Visibility = Visibility
        self.Snowfall = Snowfall
        self.IsWeekend = IsWeekend

    def create_dataframe(self):
        df = pd.DataFrame(
            {
                "IsOpen": [self.IsOpen],
                "Long": [self.Long],
                "Lat": [self.Lat],
                "Year": [self.Year],
                "Month": [self.Month],
                "Day": [self.Day],
                "Hour": [self.Hour],
                "Minute": [self.Minute],
                "Temperature": [self.Temperature],
                "Humidity": [self.Humidity],
                "Windspeed": [self.Windspeed],
                "Precipitation": [self.Precipitation],
                "Visibility": [self.Visibility],
                "Snowfall": [self.Snowfall],
                "IsWeekend": [self.IsWeekend],
            }
        )

        return df

In [48]:
import http.client
import urllib.parse
import json

API_ENDPOINT = "api.open-meteo.com"
PATH = "/v1/forecast"


def fetch_weather_data():
    params = {
        "latitude": 52.52,
        "longitude": 13.41,
        "hourly": "temperature_2m,relativehumidity_2m,windspeed_10m,precipitation,visibility,snowfall",
    }
    params_str = urllib.parse.urlencode(params)
    url = f"{PATH}?{params_str}"

    conn = http.client.HTTPSConnection(API_ENDPOINT)
    conn.request("GET", url)
    response = conn.getresponse()

    if response.status == 200:
        response_data = response.read()
        weather_data = json.loads(response_data)
        hourly_data = weather_data["hourly"]
        return {
            "Temperature": hourly_data["temperature_2m"][0],
            "Humidity": hourly_data["relativehumidity_2m"][0],
            "Windspeed": hourly_data["windspeed_10m"][0],
            "Precipitation": hourly_data["precipitation"][0],
            "Visibility": hourly_data["visibility"][0],
            "Snowfall": hourly_data["snowfall"][0],
        }
    else:
        raise Exception("Failed to retrieve weather data.")


if __name__ == "__main__":
    LAT = 57.681919
    LONG = 11.963804

    weather_data = fetch_weather_data()

    input_df = PredictorHandler(
        IsOpen=True,
        Long=LONG,
        Lat=LAT,
        Year=2023,
        Month=11,
        Day=6,
        Hour=13,
        Minute=10,
        Temperature=weather_data["Temperature"],
        Humidity=weather_data["Humidity"],
        Windspeed=weather_data["Windspeed"],  # Corrected to match the class definition
        Precipitation=weather_data["Precipitation"],
        Visibility=weather_data["Visibility"],
        Snowfall=weather_data["Snowfall"],
        IsWeekend=0,
    ).create_dataframe()



    result = model.predict(input_df)
    print(f"Number of bikes at location is {round(result[0])}")

Number of bikes at location is 19

:

In [45]:
import pandas as pd
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error
import boto3
import os

# Define the S3 bucket and folder path
bucket_name = 'sagemaker-eu-north-1-796717305864'
folder_path = 'sagemaker/sklearncontainer/train-test-two-weeks/'

# Create an S3 client
s3_client = boto3.client('s3')

# Function to download the dataset from S3
def download_from_s3(filename):
    s3_client.download_file(bucket_name, f'{folder_path}{filename}', filename)

# Downloading the data from S3
download_from_s3('xtest2.csv')
download_from_s3('xtrain2.csv')
download_from_s3('ytest2.csv')
download_from_s3('ytrain2.csv')

# Load the data
x_train = pd.read_csv('xtrain2.csv')
y_train = pd.read_csv('ytrain2.csv')
x_test = pd.read_csv('xtest2.csv')
y_test = pd.read_csv('ytest2.csv')

# Initialize the RandomForestRegressor with default parameters
rf = RandomForestRegressor()

# Train the model
rf.fit(x_train, y_train.values.ravel()) # y_train.values.ravel() to convert it to 1D array if y_train is a DataFrame

# Make predictions
predictions = rf.predict(x_test)

# Evaluate the model
mse = mean_squared_error(y_test, predictions)
print(f'Mean Squared Error: {mse}')

# Display predictions
prediction_df = pd.DataFrame(data={'Actual': y_test.iloc[:,0], 'Predicted': predictions})
print(prediction_df.head())

# Clean up the files to not clutter your notebook's directory
os.remove('xtrain2.csv')
os.remove('xtest2.csv')
os.remove('ytrain2.csv')
os.remove('ytest2.csv')

Mean Squared Error: 0.5563026118860795
   Actual  Predicted
0      13      11.53
1      17      17.00
2      10      10.00
3       6       5.98
4      11      11.03

In [8]:
df_mossen = dataframe[dataframe['stationId']== "Liseberg södra"]

print(df_mossen["TotalAvailableBikes"].min())
print(df_mossen["TotalAvailableBikes"].max())
print(df_mossen["TotalAvailableBikes"].mean())
print(df_mossen["Long"].unique())
print(df_mossen["Lat"].unique())

NameError: name 'dataframe' is not defined

In [84]:
dataframe

,AvailableBikes,StationId,Distance,stationId,IsOpen,timestamp,BikeIds,LastUpdate,Long,Lat,...,Hour,Minute,Temperature,Humidity,Windspeed,Precipitation,Visibility,Snowfall,TotalAvailableBikes,IsWeekend
0,5,28045585,2484,Linnéplatsen (A),True,2023-10-18 00:00:18.009125,"['711963', '711856', '711664', '711204', '7111...",/Date(1697587218103+0200)/,11.951773,57.690247,...,0,0,2.0,96,3.3,0.0,24140.0,0.0,5,0
1,5,28045585,2484,Linnéplatsen (A),True,2023-10-18 00:10:18.581522,"['711963', '711856', '711664', '711204', '7111...",/Date(1697587818685+0200)/,11.951773,57.690247,...,0,10,2.0,96,3.3,0.0,24140.0,0.0,5,0
2,5,28045585,2484,Linnéplatsen (A),True,2023-10-18 00:20:18.436062,"['711963', '711856', '711664', '711204', '7111...",/Date(1697588418531+0200)/,11.951773,57.690247,...,0,20,2.0,96,3.3,0.0,24140.0,0.0,5,0
3,5,28045585,2484,Linnéplatsen (A),True,2023-10-18 00:30:18.143687,"['711963', '711856', '711664', '711204', '7111...",/Date(1697589018254+0200)/,11.951773,57.690247,...,0,30,2.0,96,3.3,0.0,24140.0,0.0,5,0
4,5,28045585,2484,Linnéplatsen (A),True,2023-10-18 00:40:17.817040,"['711963', '711856', '711664', '711204', '7111...",/Date(1697589617929+0200)/,11.951773,57.690247,...,0,40,2.0,96,3.3,0.0,24140.0,0.0,5,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
275274,7,30921953,1173,Engelbrektsgatan,True,2023-10-31 23:10:18.758052,"['711999', '711252', '710881', '710841', '7102...",/Date(1698793818901+0100)/,11.976702,57.698429,...,23,10,6.8,74,10.1,0.0,24140.0,0.0,7,0
275275,7,30921953,1173,Engelbrektsgatan,True,2023-10-31 23:20:18.796382,"['711999', '711252', '710881', '710841', '7102...",/Date(1698794418904+0100)/,11.976702,57.698429,...,23,20,6.8,74,10.1,0.0,24140.0,0.0,7,0
275276,7,30921953,1173,Engelbrektsgatan,True,2023-10-31 23:30:18.581008,"['711999', '711252', '710881', '710841', '7102...",/Date(1698795018688+0100)/,11.976702,57.698429,...,23,30,6.8,74,10.1,0.0,24140.0,0.0,7,0
275277,7,30921953,1173,Engelbrektsgatan,True,2023-10-31 23:40:19.024793,"['711999', '711252', '710881', '710841', '7102...",/Date(1698795619129+0100)/,11.976702,57.698429,...,23,40,6.8,74,10.1,0.0,24140.0,0.0,7,0
275278,7,30921953,1173,Engelbrektsgatan,True,2023-10-31 23:50:18.653571,"['711999', '711252', '710881', '710841', '7102...",/Date(1698796218758+0100)/,11.976702,57.698429,...,23,50,6.8,74,10.1,0.0,24140.0,0.0,7,0

In [30]:
import http.client
import urllib.parse
from predictor_handler import PredictorHandler
import json
from datetime import datetime

API_ENDPOINT = "api.open-meteo.com"
PATH = "/v1/forecast"


def fetch_weather_data():
    params = {
        "latitude": 52.52,
        "longitude": 13.41,
        "hourly": "temperature_2m,relativehumidity_2m,windspeed_10m,precipitation,visibility,snowfall",
    }
    params_str = urllib.parse.urlencode(params)
    url = f"{PATH}?{params_str}"

    conn = http.client.HTTPSConnection(API_ENDPOINT)
    conn.request("GET", url)
    response = conn.getresponse()

    if response.status == 200:
        response_data = response.read()
        weather_data = json.loads(response_data)
        hourly_data = weather_data["hourly"]
        return {
            "Temperature": hourly_data["temperature_2m"][0],
            "Humidity": hourly_data["relativehumidity_2m"][0],
            "Windspeed": hourly_data["windspeed_10m"][0],
            "Precipitation": hourly_data["precipitation"][0],
            "Visibility": hourly_data["visibility"][0],
            "Snowfall": hourly_data["snowfall"][0],
        }
    else:
        raise Exception("Failed to retrieve weather data.")


if __name__ == "__main__":
    LAT = 57.69669
    LONG = 11.972278
    weather_data = fetch_weather_data()

    # Get current system time
    now = datetime.now()

    input_df = PredictorHandler(
        IsOpen=True,
        Long=LONG,
        Lat=LAT,
        Year=now.year,
        Month=now.month,
        Day=now.day,
        Hour=now.hour,
        Minute=now.minute,
        Temperature=weather_data["Temperature"],
        Humidity=weather_data["Humidity"],
        Windspeed=weather_data["Windspeed"],
        Precipitation=weather_data["Precipitation"],
        Visibility=weather_data["Visibility"],
        Snowfall=weather_data["Snowfall"],
        IsWeekend=int(now.weekday() >= 5),  # 0 for weekdays, 1 for weekends
    ).create_dataframe()
    

input_df

,IsOpen,Long,Lat,Year,Month,Day,Hour,Minute,Temperature,Humidity,Windspeed,Precipitation,Visibility,Snowfall,IsWeekend
0,True,11.972278,57.69669,2023,11,8,10,32,7.8,86,9.9,0.0,24140.0,0.0,0